<nav id = 'nav' role="navigation" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">MarkFetcher</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a></li>
                <li class="page-scroll">
                    <a href="#">Mark Fetcher</a>
                </li>
                <li class="page-scroll">
                    <a href="#markuploader">Mark Uploader</a>
                </li>
                <li>
                    <a href="contact">Contact</a>
                </li>

            </ul>
        </div>
        <!--/.nav-collapse --></div>
    <!--/.container --></nav>
<!--/.navbar -->
