<!--Created by devil on 10/11/14.-->
<!DOCTYPE html>
<html>
<head><title>Markstudio</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sanse|Quicksand">
    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
</head>
<body>
<div class="ctn-curtain section-footer">
    <div class="section-inner masthead">
        <div class="container">
            <div class="brand">Harkrishn & Pooja</div>
            <div class="tagline">Debananda Kanhar</div>
            <ul class="social list-inline">
                <li><a target="_blank" href="https://www.linkedin.com/pub/harkrishn-patro/95/a9b/4bb" alt="Contact me on LinkedIn" title="Contact me on LinkedIn"><i
                                class="icon-linkedin-sign"></i></a></li>
                <li><a target="_blank" href="https://plus.google.com/+harkrishnpatro" alt="Contact me on Google +" title="Contact me on Google +"><i
                                class="icon-google-plus-sign"></i></a></li>
                <li><a target="_blank" href="http://twitter.com/buntyhp" alt="Contact me on Twitter" title="Contact me on Twitter"><i class="icon-twitter-sign"></i></a></li>
                <li><a target="_blank" href="http://fb.com/bunty.hari" alt="Contact me on Facebook" title="Contact me on Facebook"><i class="icon-facebook-sign"></i></a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>