<html>
<head>
    <title>MarkFetcher</title>
    <% include partials/head.ejs %>
    <div class="pie"></div>
    <script type="text/javascript" src="/javascripts/raphael.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>

</head>
<body>
<% include partials/header2.ejs %>
<div class="jumbotron">
    <div class="container">
        <table class="table table-striped">
            <tr>
                <th>
                    <h4><b>Registration No</b></h4>
                </th>
                <th>
                    <h4><b>SGPA</b></h4>
                </th>
            </tr>
            <% if(typeof (eachList) !== 'undefined') { %>
            <% eachList[whichPt].forEach(function(item) { %>
            <tr>
                <th>
                    <%= item.registrationNo %>
                </th>
                <th>
                    <%= item.sgpa %>
                </th>
            </tr>
            <% }); %>
            <% } %>
        </table>
    </div>
</div>
</body>
</html>