<!DOCTYPE html>
<html>
<head>
    <title>MarkFetcher</title>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/header2.ejs %>
<img src="/images/404-error.jpg" alt="Error" class="img-thumbnail centerimg">
</body>
</html>