
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>




    <title>Markstudio</title>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/cover.css" rel="stylesheet">

    </head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><strong>Mark Studio</strong></h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="/contact" target="_blank">Contact</a></li>

                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover brand">
               <!-- <h1 class="cover-heading"><em>Grab your Academia Info</em></h1>-->
                <h1 class="cover-heading">Explore Results!!!</h1>
                <p class="lead">Analysis and Visualisation gets more easy with Mark Studio. Get to know about your performance in your branch or batch or in a particular subject. To get your Academia Info Login With:</p><br>
                <p class="lead">
                    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
                    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    Mark Studio @  <a href="/contact" target="_blank">Debananda Kanhar</a>.
                    <p>*This application works best on Google Chrome.</p>

                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>
