<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>MarkFetcher</title>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/header.ejs %>
<br/><br/><br/>


<section id="markfetcher" class="markfetcher" style="content-align: center">
    <div class="container">
        <div class="jumbotron">
                <div class="row row-offcanvas">
                    <div class="col-xs-12">
                        <div class="largetext">
                            <h1>BPUT Mark Fetcher</h1>
                        </div>

                        <p>Here you can fetch the mark list of your entire batch. Or simply try it out!</p>
                    </div>
                </div>
            <form method="post" class="form-signin">
                <label>Result's Url</label>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type='url' name="url" class="form-control" placeholder="http://results.bput.ac.in/388_RES/1101202025.html">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" name="num" class="form-control" placeholder="how many more?">
                        </div>
                        <div class="col-sm-2">
                                <label>
                                    <input type="checkbox" name = "insertdb"> Insert Into DB
                                </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="markuploader" id="markuploader">
    <div class="container">
        <div class="jumbotron">
                <div class="row row-offcanvas">
                    <div class="col-xs-12">
                        <div class="largetext">
                            <h1>BPUT Mark Uploader</h1>
                        </div>

                        <p>Here you can upload the mark list and visualize the result in form of charts. Or simply try it out!</p>
                    </div>
                </div>
                    <br/>

                <form action="/uploadJSON" method="post" enctype="multipart/form-data" id="uploadJSON" class="form-inline" style="text-align: center">
                    <div class="form-group">
                        <label for="inputfile">Upload an JSON file: </label>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <input type="file" name="marklist" id="inputfile" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
        </div>
    </div>
</section>
<% include partials/footer.ejs %>
</body>
</html>