<!DOCTYPE html>
<html>
<head>
    <title>MarkFetcher</title>
    <% include partials/head.ejs %>
    <script type="text/javascript" src="/javascripts/raphael.js"></script>
    <script type="text/javascript" src="/javascripts/g.raphael.js"></script>
    <script type="text/javascript" src="/javascripts/g.pie.js"></script>
    <script type="text/javascript" src="/javascripts/canvas2image.js"></script>
    <script type="text/javascript" src="http://gabelerner.github.io/canvg/rgbcolor.js"></script>
    <script type="text/javascript" src="http://gabelerner.github.io/canvg/StackBlur.js"></script>
    <script type="text/javascript" src="http://gabelerner.github.io/canvg/canvg.js"></script>
    <link rel="stylesheet" href="/stylesheets/demo-print.css" media="print">
    <div class="pie"></div>
    <!--
    <link rel="stylesheet" href="http://g.raphaeljs.com/demo.css"/>
-->
</head>
<body>
<% include partials/header2.ejs %>
<div class="jumbotron">
    <div class="container">
        <table class="table table-striped">
            <tr>
                <th>
                    <h4><b>Registration No</b></h4>
                </th>
                <th>
                    <h4><b>SGPA</b></h4>
                </th>
            </tr>
            <% if(typeof (totalList) !== 'undefined') { %>
                <% totalList.forEach(function(item) { %>
                <tr>
                    <th>
                        <%= item.name %>
                    </th>
                    <th>
                        <%= item.sgpa %>
                    </th>
                </tr>
                <% }); %>
            <% } %>
        </table>
    </div>
</div>

<div id="holder"></div>
<div id = 'jsonfile' style="text-align: center">
    <a href="download">Download the file as JSON</a>
</div>

<div style= " text-align:center; ">
    <input type="submit" class="btn btn-success" id="btn" value="Generate Pie" />
</div>


<!--
<button id="createImage">Generate Image</button>
-->

<h2 style="display:none;" id="pointersList"><%- pointersList %></h2>

<script type="text/javascript">

    $("#createImage").click(function() {
        //Get the svg
        var svg = document.getElementById("holder").innerHTML;

        //Create the canvas element
        var canvas = document.createElement('canvas');
        canvas.id = "canvas";
        document.body.appendChild(canvas);

        //Load the canvas element with our svg
        canvg(document.getElementById('canvas'), svg);

        //Save the svg to png
        Canvas2Image.saveAsJPEG(canvas);

        //Clear the canvas
        canvas.width = canvas.width;
    });

    $('document').ready(function () {
        $('#btn').click(function () {
            var pointersList = ($("#pointersList").html());
            var values = [],onlylabel = ['nine','eight','seven','six','rest'], labels = ['%%.%% - nine', '%%.%% - eight', '%%.%% - seven', '%%.%% - six', '%%.%% - rest'];
            values = JSON.parse(pointersList).pointersList;
            for(var i = 0 ; i < values.length; i++) {
                if(values[i] === 0) {
                    values.splice(i,1);
                    onlylabel.splice(i,1);
                    labels.splice(i,1);
                    i--;
                }
            }
            for(var i=0;i< onlylabel.length; i++) {
                onlylabel[i] = '/whichpoint/'+onlylabel[i];
            }
            console.log(onlylabel);
            $('.jumbotron').hide();
            var r = Raphael("holder");
            //var pie = r.g.piechart(350, 350, 200, values,{legend : labels});
            var pie = r.piechart(350, 350, 200, values, { legend: labels, legendpos: "east", href: onlylabel});
            r.text(320, 100, "Results Pie Chart").attr({ font: "20px sans-serif" });
            $('svg').attr('width', 800).attr('height', 600);

            pie.hover(function () {
                this.sector.stop();
                this.sector.scale(1.1, 1.1, this.cx, this.cy);
                if (this.label) {
                    this.label[0].stop();
                    this.label[0].attr({ r: 7.5 });
                    this.label[1].attr({ "font-weight": 800 });
                }
            }, function () {
                this.sector.animate({ transform: 's1 1 ' + this.cx + ' ' + this.cy }, 500, "bounce");
                if (this.label) {
                    this.label[0].animate({ r: 5 }, 500, "bounce");
                    this.label[1].attr({ "font-weight": 400 });
                }
            });

/*
            var clickSomeSlice = function () {
                var label = this.label[1].attrs.text;
                var whichpoint = label.split('-')[1].trim();
                window.location.href = '/whichpoint/' + whichpoint;
            };

            for(var index_i=0;index_i < pie.covers.items.length;index_i++){
                pie.covers.items[index_i].click(clickSomeSlice);
            }

*/

             $('.pie').append(
             "<style>" +
             "#holder {" +
             "margin: 0 auto;" +
             "width: 800px;" +
             "height: 600px;" +
             "}" +
             "</style>"
             );

             $('#btn').hide();
             $('#jsonfile').hide();
        });
    });


</script>

</body>
</html>