<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/javascripts/userpanel_pie.js"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart"]});
    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MarkStudio</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <div class="form-group">
        <label class="col-xs-3 control-label">Browser</label>
        <div class="col-xs-5">
            <select class="form-control" name="browsers" multiple>
                <option value="chrome">Google Chrome</option>
                <option value="firefox">Firefox</option>
                <option value="ie">IE</option>
                <option value="safari">Safari</option>
                <option value="opera">Opera</option>
                <option value="other">Other</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2">
            </br></br>


            <label class="col-xs-3 control-label">Browser</label>
            <div class="col-xs-5">
                <select class="form-control" name="browsers" multiple>
                    <option value="chrome">Google Chrome</option>
                    <option value="firefox">Firefox</option>
                    <option value="ie">IE</option>
                    <option value="safari">Safari</option>
                    <option value="opera">Opera</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <h5><b>Select College: </b></h5>

            <select class="form-control" id="college-pie" name="college-pie" multiple>

                <% for(i = 0; i < colleges.length ; i++) { %>
                <option value="<%= colleges[i] %>"><%= colleges[i] %></option>
                <% } %>

            </select>
        </div>

        <div class="col-md-2">
            </br></br>

            <h5><b>Degree:</b></h5>

            <select class="form-control" id="degree-pie" name="degree-pie">

                <% for(i = 0; i < degrees.length ; i++) { %>
                <option value="<%= degrees[i] %>"><%= degrees[i] %></option>
                <% } %>

            </select>
        </div>

        <div class="col-md-2">
            </br></br>

            <h5><b>Batch:</b></h5>

            <select class="form-control" id="batch-pie" name="batch-pie">

                <% for(i = 0; i < batches.length ; i++) { %>
                <option value="<%= batches[i] %>"><%= batches[i] %></option>
                <% } %>

            </select>
        </div>


        <div class="col-md-2">
            </br></br>

            <h5><b>Branch:</b></h5>

            <select class="form-control" id="branch-pie" name="branch-pie">

                <% for(i = 0; i < branches.length ; i++) { %>
                <option value="<%= branches[i] %>"><%= branches[i] %></option>
                <% } %>

            </select>
        </div>

        <div class="col-md-1">
            </br></br>

            <h5><b>Semester:</b></h5>

            <select class="form-control" id="semester-pie" name="semester-pie">

                <% for(i = 0; i < sems.length ; i++) { %>
                <option value="<%= sems[i] %>"><%= sems[i] %></option>
                <% } %>

            </select>
        </div>
        <div class="col-md-2">
            </br></br>

            <h5><b>Subject Code:</b></h5>

            <input type="text" name="subject-pie" id="subject-pie" class="form-control" placeholder="If Required">

            <!--
                            <input type="text" id="subject" name="subject" placeholder="Enter Subject Code">
            -->
        </div>
        <div class="col-md-1">
            </br></br>
            <h5><b>&#8232;</b></h5>

            <button class="btn btn-primary btn-s" id="btn-submit-pie">Submit</button>
        </div>
    </div>
</div>
<div class="centeredImage" id="collegecomparison" style="width: 1000px; height: 500px;"></div>
<div id="loaderDivForPie" class="centeredLoader">
    <img src="/images/ajax-loader.gif" alt="Wait!"/>
</div>
<script type="text/javascript" src="/javascripts/userpanel.js"></script>
</div>

<script>
    $(document).ready(function() {
        // You don't need to care about onDropdownShow, onDropdownHide options
        // and adjustByScrollHeight(), adjustByHeight() methods
        // They are for this specific demo
        $('#multiselectForm')
                .find('[name="browsers"]')
                .multiselect({
                    // Re-validate the multiselect field when it is changed
                    onChange: function(element, checked) {
                        $('#multiselectForm').formValidation('revalidateField', 'browsers');
                    }
                })
                .end()
                .formValidation({
                    framework: 'bootstrap',
                    // Exclude only disabled fields
                    // The invisible fields set by Bootstrap Multiselect must be validated
                    excluded: ':disabled',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        gender: {
                            validators: {
                                notEmpty: {
                                    message: 'The gender is required'
                                }
                            }
                        },
                        browsers: {
                            validators: {
                                callback: {
                                    message: 'Please choose 2-3 browsers you use for developing',
                                    callback: function(value, validator, $field) {
                                        // Get the selected options
                                        var options = validator.getFieldElements('browsers').val();
                                        return (options != null
                                                && options.length >= 2 && options.length <= 3);
                                    }
                                }
                            }
                        }
                    }
                });

    });
</script>

</body>
</html>