<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="/javascripts/userpanel_pie.js"></script>
        <script type="text/javascript">
            google.load("visualization", "1", {
                        packages:["corechart"]
                    }
            );
        </script>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MarkStudio</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="form-group row">

            <div class="col-md-2">
                </br></br>

                <h5><b>Degree:</b></h5>

                <select class="form-control" id="degree" name="degree">

                    <% for(i = 0; i < degrees.length ; i++) { %>
                    <option value="<%= degrees[i] %>"><%= degrees[i] %></option>
                    <% } %>

                </select>
            </div>

            <div class="col-md-2">
                </br></br>

                <h5><b>Batch:</b></h5>

                <select class="form-control" id="batch" name="batch">

                    <% for(i = 0; i < batches.length ; i++) { %>
                    <option value="<%= batches[i] %>"><%= batches[i] %></option>
                    <% } %>

                </select>
            </div>


            <div class="col-md-2">
                </br></br>

                <h5><b>Branch:</b></h5>

                <select class="form-control" id="branch" name="branch">

                    <% for(i = 0; i < branches.length ; i++) { %>
                    <option value="<%= branches[i] %>"><%= branches[i] %></option>
                    <% } %>

                </select>
            </div>

            <div class="col-md-2">
                </br></br>

                <h5><b>Semester:</b></h5>

                <select class="form-control" id="semester" name="semester">

                    <% for(i = 0; i < sems.length ; i++) { %>
                    <option value="<%= sems[i] %>"><%= sems[i] %></option>
                    <% } %>

                </select>
            </div>
            <div class="col-md-2">
                </br></br>

                <h5><b>Subject Code:</b></h5>

                <input type="text" name="subject" id="subject" class="form-control" placeholder="If Required">

<!--
                <input type="text" id="subject" name="subject" placeholder="Enter Subject Code">
-->
            </div>
            <div class="col-md-2">
                </br></br>
                <h5><b>&#8232;</b></h5>

                <button class="btn btn-primary btn-s" id="btn-submit">Submit</button>
            </div>
        </div>

    </div>
    <div class="centeredImage" id="piechart" style="width: 1000px; height: 500px;"></div>
    <script type="text/javascript" src="/javascripts/userpanel_pie.js"></script>
    </body>
</html>