<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<title><%= title %></title>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/jumbotron.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style type="text/css">
        .bs-example{
            margin: 20px;
        }
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/javascripts/userpanel_pie.js"></script>
    <script type="text/javascript">
        $.ajaxSetup({ cache: false });
        google.load("visualization", "1", {
                    packages:["corechart","bar","table"]
                }
        );
    </script>

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Markstudio</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/contact">Contact</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a  href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>

</nav>
<div class="tabbable tabs-left">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#xls" data-toggle="tab">Download Excel Sheets</a></li>
            <li><a href="#pie" data-toggle="tab">View Branch & Subject Wise Performance</a></li>
            <li><a href="#bar" data-toggle="tab">View Batch Performance</a></li>
            <li><a href="#line" data-toggle="tab">View Student's Performance</a></li>
            <li><a href="#table" data-toggle="tab">View Top Performer(s)</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="xls">
            <div class="container">
                <div class="form-group row">

                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Select College: </b></h5>

                        <select class="form-control" id="college-xls" name="college-xls">

                            <% for(i = 0; i < colleges.length ; i++) { %>
                            <option value="<%= colleges[i] %>"><%= colleges[i] %></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Degree:</b></h5>

                        <select class="form-control" id="degree-xls" name="degree-xls">

                            <% for(i = 0; i < degrees.length ; i++) { %>
                            <option value="<%= degrees[i] %>"><%= degrees[i] %></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Batch:</b></h5>

                        <select class="form-control" id="batch-xls" name="batch-xls">

                            <% for(i = 0; i < batches.length ; i++) { %>
                            <option value="<%= batches[i] %>"><%= batches[i] %></option>
                            <% } %>

                        </select>
                    </div>


                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Branch:</b></h5>

                        <select class="form-control" id="branch-xls" name="branch-xls">

                            <% for(i = 0; i < branches.length ; i++) { %>
                            <option value="<%= branches[i] %>"><%= branches[i] %></option>
                            <% } %>
                        </select>
                    </div>

                    <div class="col-md-1">
                        </br></br>

                        <h5><b>Semester:</b></h5>

                        <select class="form-control" id="semester-xls" name="semester-xls">

                            <% for(i = 0; i < sems.length ; i++) { %>
                            <option value="<%= sems[i] %>"><%= sems[i] %></option>
                            <% } %>

                        </select>
                    </div>
                    <div class="col-md-2">
                        </br></br>
                        <h5><b>Options:</b></h5>

                        <select class="form-control" id="options-xls" name="options-xls">

                            <% for(i = 0; i < options.length ; i++) { %>
                            <option value="<%= options[i] %>"><%= options[i] %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="col-md-1">
                        </br></br>
                        <h5><b>&#8232;</b></h5>

                        <button class="btn btn-primary btn-s" id="btn-submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="pie">
            <div class="container">
                <div class="form-group row">
                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Select College: </b></h5>

                        <select class="form-control" id="college-pie" name="college-pie">

                            <% for(i = 0; i < colleges.length ; i++) { %>
                            <option value="<%= colleges[i] %>"><%= colleges[i] %></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Degree:</b></h5>

                        <select class="form-control" id="degree-pie" name="degree-pie">

                            <% for(i = 0; i < degrees.length ; i++) { %>
                            <option value="<%= degrees[i] %>"><%= degrees[i] %></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Batch:</b></h5>

                        <select class="form-control" id="batch-pie" name="batch-pie">

                            <% for(i = 0; i < batches.length ; i++) { %>
                            <option value="<%= batches[i] %>"><%= batches[i] %></option>
                            <% } %>

                        </select>
                    </div>


                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Branch:</b></h5>

                        <select class="form-control" id="branch-pie" name="branch-pie">

                            <% for(i = 0; i < branches.length ; i++) { %>
                            <option value="<%= branches[i] %>"><%= branches[i] %></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="col-md-1">
                        </br></br>

                        <h5><b>Semester:</b></h5>

                        <select class="form-control" id="semester-pie" name="semester-pie">

                            <% for(i = 0; i < sems.length ; i++) { %>
                            <option value="<%= sems[i] %>"><%= sems[i] %></option>
                            <% } %>

                        </select>
                    </div>
                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Subject Code:</b></h5>

                        <input type="text" name="subject-pie" id="subject-pie" class="form-control" placeholder="If Required">

                        <!--
                                        <input type="text" id="subject" name="subject" placeholder="Enter Subject Code">
                        -->
                    </div>
                    <div class="col-md-1">
                        </br></br>
                        <h5><b>&#8232;</b></h5>

                        <button class="btn btn-primary btn-s" id="btn-submit-pie">Submit</button>
                    </div>
                </div>
            </div>
            <div class="centeredImage" id="piechart" style="width: 1000px; height: 500px;"></div>
            <div id="loaderDivForPie" class="centeredLoader">
                <img src="/images/ajax-loader.gif" alt="Wait!" />
            </div>
            <script type="text/javascript" src="/javascripts/userpanel_pie.js"></script>
        </div>

        <div class="tab-pane" id="bar">
            <div class="container">
                <div class="form-group row">
                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Select College: </b></h5>

                        <select class="form-control" id="college-bar" name="college-bar">

                            <% for(i = 0; i < colleges.length ; i++) { %>
                            <option value="<%= colleges[i] %>"><%= colleges[i] %></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Degree:</b></h5>

                        <select class="form-control" id="degree-bar" name="degree-bar">

                            <% for(i = 0; i < degrees.length ; i++) { %>
                            <option value="<%= degrees[i] %>"><%= degrees[i] %></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Batch:</b></h5>

                        <select class="form-control" id="batch-bar" name="batch-bar">

                            <% for(i = 0; i < batches.length ; i++) { %>
                            <option value="<%= batches[i] %>"><%= batches[i] %></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="col-md-1">
                        </br></br>

                        <h5><b>Semester:</b></h5>

                        <select class="form-control" id="semester-bar" name="semester-bar">

                            <% for(i = 0; i < sems.length ; i++) { %>
                            <option value="<%= sems[i] %>"><%= sems[i] %></option>
                            <% } %>

                        </select>
                    </div>
                    <div class="col-md-1">
                        </br></br>
                        <h5><b>&#8232;</b></h5>

                        <button class="btn btn-primary btn-s" id="btn-submit-bar">Submit</button>
                    </div>
                </div>
            </div>
            <div class="container" id="barmessage"></div>
            <div class = "centeredImage1" id="barchart" style="width: 1000px; height: 500px;"></div>
            <div id="loaderDiv" class="centeredLoader">
                <img src="/images/ajax-loader.gif" alt="Wait!" />
            </div>
            <script type="text/javascript" src="/javascripts/userpanel_barchart.js"></script>
        </div>

        <div class="tab-pane" id="line">
            <div class="container">
                <div class="form-group row">
                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Select College: </b></h5>

                        <select class="form-control" id="college-line" name="college-line">

                            <% for(i = 0; i < colleges.length ; i++) { %>
                            <option value="<%= colleges[i] %>"><%= colleges[i] %></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Degree:</b></h5>

                        <select class="form-control" id="degree-line" name="degree-line">

                            <% for(i = 0; i < degrees.length ; i++) { %>
                            <option value="<%= degrees[i] %>"><%= degrees[i] %></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Batch:</b></h5>

                        <select class="form-control" id="batch-line" name="batch-line">

                            <% for(i = 0; i < batches.length ; i++) { %>
                            <option value="<%= batches[i] %>"><%= batches[i] %></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="col-md-2">
                        </br></br>
                        <h5><b>Registration No:</b></h5>

                        <input type="text" name="regNo-line" id="regNo-line" class="form-control" placeholder="Enter Registration No." required>
                    </div>
                    <div class="col-md-2">
                        </br></br>
                        <h5><b>&#8232;</b></h5>

                        <button class="btn btn-primary btn-s" id="btn-submit-line">Submit</button>
                    </div>
                </div>

            </div>
            <div class="container" id="linemessage"></div>
            <div class = "centeredImage1" id="linechart" style="width: 1100px; height: 500px;"></div>
            <div id="loaderDivForLine" class="centeredLoader">
                <img src="/images/ajax-loader.gif" alt="Wait!" />
            </div>
            <script type="text/javascript" src="/javascripts/userpanel_linechart.js"></script>
        </div>

        <div class="tab-pane" id="table">
            <div class="container">
                <div class="form-group row">
                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Select College: </b></h5>

                        <select class="form-control" id="college-table" name="college-table">

                            <% for(i = 0; i < colleges.length ; i++) { %>
                            <option value="<%= colleges[i] %>"><%= colleges[i] %></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Degree:</b></h5>

                        <select class="form-control" id="degree-table" name="degree-table">

                            <% for(i = 0; i < degrees.length ; i++) { %>
                            <option value="<%= degrees[i] %>"><%= degrees[i] %></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="col-md-2">
                        </br></br>

                        <h5><b>Batch:</b></h5>

                        <select class="form-control" id="batch-table" name="batch-table">

                            <% for(i = 0; i < batches.length ; i++) { %>
                            <option value="<%= batches[i] %>"><%= batches[i] %></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="col-md-1">
                        </br></br>

                        <h5><b>Semester:</b></h5>

                        <select class="form-control" id="semester-table" name="semester-table">

                            <% for(i = 0; i < sems.length ; i++) { %>
                            <option value="<%= sems[i] %>"><%= sems[i] %></option>
                            <% } %>

                        </select>
                    </div>

                    <div class="col-md-1">
                        </br></br>
                        <h5><b>&#8232;</b></h5>

                        <button class="btn btn-primary btn-s" id="btn-submit-table">Submit</button>
                    </div>
                </div>

            </div>
            <div class = "centeredImage3" id="tablechart"></div>
            <div class="container" id="tablemessage"></div>
            <div id="loaderDivForTable" class="centeredImage2">
                <img src="/images/ajax-loader.gif" alt="Wait!" />
            </div>
            <script type="text/javascript" src="/javascripts/userpanel_table.js"></script>
        </div>

    </div>
</div>



<script>

    $('#btn-submit').on('click',function() {
        var college=$('#college-xls').val().toLowerCase();
        var deg=$('#degree-xls').val();
        deg=deg.replace(".","").toLowerCase();
        //document.writeln(deg);
        var branch=$('#branch-xls').val().toLowerCase();
        var batch=$('#batch-xls').val().toLowerCase();
        var sem=$('#semester-xls').val().toLowerCase()[0];
        var opt=$('#options-xls').val().toLowerCase();
        if(opt==='branch data') {
            window.location.href = window.location.origin + '/xls/branchwise'
                    +'?branch=' + branch
                    +'&semester='+ sem
                    +'&batch=' + batch
                    +'&degree=' + deg
                    +'&college=' +college;
        }
        else if(opt==='pass & fail percentage') {
            window.location.href = window.location.origin + '/xls/passfailpercentage'
                    +'?semester='+ sem
                    +'&batch=' + batch
                    +'&degree=' + deg
                    +'&college=' +college;
        }
        else if(opt==='total pass & fail count') {
            window.location.href = window.location.origin + '/xls/totalpassandfail'
                    +'?semester='+ sem
                    +'&batch=' + batch
                    +'&degree=' + deg
                    +'&college=' +college;
        }
        else if(opt==='subject wise performance') {
            window.location.href = window.location.origin + '/xls/percentageanalysis'
                    +'?semester='+ sem
                    +'&batch=' + batch
                    +'&degree=' + deg
                    +'&college=' +college;
        }
        else if (opt==='batch wise performance') {
            window.location.href = window.location.origin + '/xls/scoreanalysis'
                    +'?semester='+ sem
                    +'&batch=' + batch
                    +'&degree=' + deg
                    +'&college=' +college;
        }
        else if(opt === 'grades in subject(s)') {
            window.location.href = window.location.origin + '/xls/subjectwise'
                    +'?semester='+ sem
                    +'&batch=' + batch
                    +'&degree=' + deg
                    +'&college=' +college;

        }

    });
</script>
<script>
    $('#loaderDiv').hide();
    $('#loaderDivForPie').hide();
    $('#loaderDivForLine').hide();
    $('#loaderDivForTable').hide();
</script>
</body>
</html>