.ctn-curtain {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 18px;
    line-height: 1.2;
}
html,
body,
.ctn-curtain {
    width: 100%;
    height: 100%;
}
.ctn-curtain {
    display: table;
}
.ctn-curtain.section-footer {
    background-color: #6699cc;
}
.ctn-curtain.section-footer a {
    color: #ffb56b;
    font-weight: bold;
    text-decoration: none;
}
.ctn-curtain.section-footer a:hover {
    color: #ff6b6b;
}
.section-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 50px 0;
}
/**
 * Masthead
 */
.masthead {
    font-family: 'Quicksand', sans-serif;
    color: #FFF;
    line-height: 1.2;
    text-align: center;
}
.masthead .brand {
    font-size: 100px;
}
.masthead .tagline {
    margin-top: 30px;
    font-size: 24px;
}
/**
 * Social links
 */
.social {
    margin-top: 30px;
}
.social a {
    color: #FFF !important;
    font-size: 36px;
}
.social a:hover {
    color: #ff6b6b !important;
}