html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 70px;
}
footer {
    padding: 20px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        width: 800px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.center
{
    width: 300px;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.centerimg
{
    width: 800px;
    height: 400px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

section {
    padding: 100px 0;
}

/*
section.markuploader .jumbotron{
    background: #fff;

}
*/
/*

section.markfetcher .jumbotron{
    background: #fff;
}
*/


.largetext {
    color: #000000;
}
footer {
    bottom:0;
    width:100%;
    height:50px;   /* Height of the footer */
    background:#000;
    margin: 0 auto;
}

#footer-content {
    color : #FFFFFF;
    text-align: center;
}

.centeredImage
{
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    margin-left: 200px;
    padding:0px;
}

.centeredImage1
{
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    margin-left: 50px;
    padding:0px;
}

.centeredImage2
{
    text-align:center;
    margin-top:150px;
    margin-bottom:0px;
    margin-left: 50px;
    padding:0px;
}

.centeredImage3
{
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    margin-left: 300px;
    padding:0px;
}

.centeredLoader
{
    text-align:center;
    margin-top:-300px;
    margin-bottom:0px;
    margin-left: 50px;
    padding:0px;
}